html{
    width:100%;
    height:100%;
}
body{
    padding: 1px;
    height: 100%;
    width: 100%;
    margin-left: 23%;
    margin-top: 5%;
}

#chatbox{
    padding: 1%;
    height: 60%;
    width: 50%;
    background-color: lawngreen;
    border-radius: 5%;
    box-shadow: 6px 6px 6px #00e600;
    overflow: scroll;
}

.listitem{
    font-family:"Comic Sans MS";
    padding-bottom: 1%;
    color: transparent;
    max-width: 100%;
    overflow-wrap: break-word;
}

.my{
    box-shadow: 3px 3px 3px #0099ff;
    margin-right: 9%;
    max-width: 70%;
    -webkit-border-radius:20px;
    display: inline-block;
    -moz-border-radius:20px;
    border-radius:20px;
    padding: 5px;
    background-color: #80ffff;
    float: right;
    color: #000;
}

b{
    font-size: 110%;
    font-family:cursive;
}

.other{
    box-shadow: 3px 3px 3px #ff1a1a;
    max-width: 70%;
    -webkit-border-radius:20px;
    display: inline-block;
    -moz-border-radius:20px;
    border-radius:20px;
    padding: 5px;
    background-color: #ff8080;
    max-width: 70%;
    float: left;
    color: #000;
}

#uppercontainer{
    padding: 3%;
    height: 11%;
    width: 90%;
}

#message{
    border-radius: 20px;
    width: 45%;
    height: 100%;
    background-color: aqua;
    font-size: 200%;
    bottom: 0;
}

#send{
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 100%;
    background-color: #ff3333;
}